* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #000;
}
.animated-card {
  height: 500px;
  width: 350px;
  background: #222;
  position: relative;
  display: grid;
  place-items: center;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}
span {
  color: #fff;
  opacity: 0.1;
  font-size: 11rem;
  z-index: 1;
}
.animated-card::before {
  position: absolute;
  content: "";
  width: 50%;
  height: 180%;
  background: #ff0800;
  transform: rotate(45deg);
}

.animated-card:hover::before {
  animation: animate 2s linear infinite;
}
@keyframes animate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    filter: hue-rotate(-360deg) saturate(1000%);
  }
}
.animated-card::after {
  position: absolute;
  content: "";
  inset: 10px;
  background: #000;
  border-radius: 8px;
}
